@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

b{
	font-weight: normal;
	font-variant: small-caps;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

p.signature,
p[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

p[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:letter"] footer{
	text-align: right;
	margin-top: 1em;
}

section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] p{
	margin: 10% auto;
	text-align: center;
	text-indent: 0;
	font-variant: small-caps;
}
