@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:signature"],
p[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

p[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:letter"] footer{
	text-align: right;
	margin-top: 1em;
}

section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] p{
	margin: 10% auto;
	text-indent: 0;
	font-variant: small-caps;
}

[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}
